<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New Student</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>

<html>
<body>

<div th:replace="~{navigation :: navi(Books)}" />

<div class="container">
    <form th:action="@{/books/add}" th:object="${book}" method="post">
        <div class="form-group">
            <label for="tfTitle">Название</label>
            <input id="tfTitle" type="text" class="form-control" placeholder="Название книги" th:field="*{title}">
        </div>

        <div class="form-group">
            <label for="tfDescription">Описание</label>
            <textarea id="tfDescription" rows="3" class="form-control" placeholder="Описание книги" th:field="*{description}"></textarea>
        </div>

        <div class="form-group">
            <label for="tfYear">Год</label>
            <input id="tfYear" type="number" class="form-control" placeholder="Год издания" th:field="*{year}">
        </div>

        <div class="submit">
            <button name="addBook" type="submit">Добавить книгу</button>
        </div>
    </form>
</div>


<div th:replace="~{my-footer :: foot}" />
</body>
</html>