<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
    <div th:replace="~{navigation :: navi(Books)}" />
    <div class="container">
        <br>
        <a class="btn btn-success" href="books/add">Добавить книгу</a>
        <h1>Список книг</h1>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Год</th>
                <th></th>
            </tr>
            </thead>

            <tr class="responsive-row" th:each="book : ${books}">
                <td th:text="${book.id}"/>
                <td th:text="${book.title}"/>
                <td th:text="${book.description}"/>
                <td th:text="${book.year}"/>
            </tr>
        </table>

    </div>

    <div th:replace="~{my-footer :: foot}" />
</body>
</html>