
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aroma Shop - Home</title>

    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/bootstrap/bootstrap.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/themify-icons/themify-icons.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/nice-select/nice-select.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.theme.default.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <footer class="footer" th:fragment="foot">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Наша задача</h4>
                            <p>
                                Научиться использовать Spring Framework
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Навигация</h4>
                            <ul class="list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Контакты</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Главный офис
                                </p>
                                <p>6, ул. Героя-Аверкиева, Краснодар</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Телефон
                                </p>
                                <p>
                                    +7 (918) 110-35-06
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    lantsev_es@mail.ru
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript"  th:src="@{/vendors/jquery/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendors/bootstrap/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendors/skrollr.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendors/nice-select/jquery.nice-select.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendors/jquery.ajaxchimp.min.js}"></script>
    <script type="text/javascript"  th:src="@{/vendors/mail-script.js}"></script>
    <script type="text/javascript"  th:src="@{/js/main.js"></script>
</body>
</html>