<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Login</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/bootstrap/bootstrap.min.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/fontawesome/css/all.min.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/themify-icons/themify-icons.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/linericon/style.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.theme.default.min.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/owl-carousel/owl.carousel.min.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/nice-select/nice-select.css}">
	<link type="text/css" rel="stylesheet" th:href="@{/vendors/nouislider/nouislider.min.css}">

	<link type="text/css" rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{header :: navi(Login)}" />
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>У вас уже есть учетная запись?</h4>
							<p>Авторизуйтесь в магазине и приступайте к покупкам!</p>
							<a class="button button-account" th:href="@{/login}">Авторизоваться</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Создать учетную запись</h3>
						<form class="row login_form" id="register_form" th:action="@{/register/processRegistrationForm}"
							  th:object="${systemUser}" method="post">

							<div class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" />
							<div class="col-md-12 form-group">
								<input th:field="*{userName}" type="text" class="form-control" id="userName" name="userName" placeholder="Логин" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>

							<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
							<div class="col-md-12 form-group">
								<input th:field="*{password}" type="password" class="form-control" id="password" name="password" placeholder="password (*)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>

							<div class="error" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" />
							<div class="col-md-12 form-group">
								<input th:field="*{matchingPassword}" type="password" class="form-control" id="matchingPassword" name="matchingPassword"  placeholder="Confirm password (*)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm password (*)'">
							</div>

							<div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" />
							<div class="col-md-12 form-group">
								<input th:field="*{firstName}" type="text" class="form-control" id="firstName" name="firstName" placeholder="First name (*)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First name (*)'">
							</div>

							<div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
							<div class="col-md-12 form-group">
								<input th:field="*{lastName}" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name (*)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last name (*)'">
							</div>

							<div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
							<div class="col-md-12 form-group">
								<input th:field="*{email}" type="text" class="form-control" id="email" name="email" placeholder="Email (*)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email (*)'">
              				</div>

							<div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />
							<div class="col-md-12 form-group">
								<input th:field="*{phone}" type="text" class="form-control" id="phone" name="phone" placeholder="Phone (*)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone (*)'">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">Зарегистрироваться</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	<div th:replace="~{footer :: foot}" />



  <script type="text/javascript" th:src="@{/vendors/jquery/jquery-3.2.1.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendors/bootstrap/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendors/skrollr.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendors/owl-carousel/owl.carousel.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendors/nice-select/jquery.nice-select.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendors/jquery.ajaxchimp.min.js}"></script>
  <script type="text/javascript" th:src="@{/vendors/mail-script.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>